<h1>about page</h1>

<%= textBlue("blue text") %>

<p><%= link_to "Home", root_path %></p>
<p><%= link_to "Home(Confirm)", root_path, confirm: "Really?" %></p>
<p><%= link_to "Home", root_path, class: "myClass" %></p>
<br>
link_to_unless_current
<p><%= link_to_unless_current "Path", root_path %></p>
<p><%= link_to_unless_current "Path", about_path %></p>

image (assets/images)<br>
<%= image_tag('/img/dummy.jpg', size: "30x30") %><br>
<%= image_tag('red.jpg', size: "30x30") %>
