<h1>entries</h1>

<%= link_to 'create new entry', :new_entry %><br><br>

<% @entries.each do |entry| %>
  <%= entry.id %> : <%= entry.title %><%= truncate(entry.body) %><%= link_to 'read more', entry %>
  <br>
<% end %>
<%= will_paginate @entries %>

<br>
<%= link_to 'voted entries', :voted_entries %>
