<h1>article show</h1>

<%= link_to 'edit', [:edit, :admin, @article] %>
<br>
<br>

title : <%= @article.title %><br>
body : <%= @article.body %><br>
released_at : <%= @article.released_at %><br>
expired_at : <%= @article.expired_at %><br>
member_only : <%= @article.member_only %><br>
