<% if controller.kind_of?(Admin::Base) %>
  admin header : 
  <%= menu_link_to 'admin_root', :admin_root %> | 
  <%= menu_link_to 'admin_members', :admin_members %> | 
  <%= menu_link_to 'admin_articles', :admin_articles %> | 
<% else %>
  not admin header
<% end %>

<div class="menubar" style="color:red;">
  <%= menu_link_to "TOP", root_path %>&nbsp;|&nbsp;
  <%= menu_link_to "Articles", :articles %>&nbsp;|&nbsp;
  <%= menu_link_to "Blog", :entries %>&nbsp;|&nbsp;

  <div style="background-color="yellow">
    <% if @current_member %>
      <%= menu_link_to "Members", :members %>&nbsp;|&nbsp;
      <%= menu_link_to "Management", root_path %>&nbsp;|&nbsp;
      こんにちは <%= link_to @current_member.name, :account  %> さん！
      member_id : <%= @current_member.id %>
      <%= link_to 'my blog', [@current_member, :entries] %> | 
      <%= link_to 'log out', :session, method: :delete, data:{confirm: 'log out?'} %>
    <% end %>
  </div>

</div>

<% if @current_member %>
  login now
<% else %>
  not login
<% end %>
