<table class="attr">

  <tr>
    <th>image</th>
    <td><%= member_image_tag @member, width: 96 %></td>
  </tr>

  <tr>
    <th>id</th>
    <td><%= @member.id %></td>
  </tr>

  <tr>
    <th>number</th>
    <td><%= @member.number %></td>
  </tr>
  
  <tr>
    <th>name</th>
    <td><%= @member.name %></td>
  </tr>

  <tr>
    <th>full_name</th>
    <td><%= @member.full_name %></td>
  </tr>

  <tr>
    <th>gender</th>
    <td><%= @member.gender %></td>
  </tr>

  <tr>
    <th>birthday</th>
    <td>
      <%= @member.birthday %>
      (
      <%= @member.birthday.try(:strftime, "%Y年%m月%d日") %>
      )
    </td>
  </tr>

  <tr>
    <th>email</th>
    <td><%= @member.email %></td>
  </tr>

  <tr>
    <th>administrator</th>
    <td><%= @member.administrator %></td>
  </tr>

  <tr>
    <th>hashed_password</th>
    <td><%= @member.hashed_password %></td>
  </tr>

  <tr>
    <th>password_digest</th>
    <td><%= @member.password_digest %></td>
  </tr>
</table>
