<h1>Member Detail</h1>

<%= link_to 'edit', [:edit, @member] %>

user_id : <%= @user_id %><br>
cookie_id : <%= @cookie_id %><br>

<table class="attr">

  <tr>
    <th>number</th>
    <td><%= @member.number %></td>
  </tr>
  
  <tr>
    <th>name</th>
    <td><%= @member.name %></td>
  </tr>

  <tr>
    <th>full_name</th>
    <td><%= @member.full_name %></td>
  </tr>

  <tr>
    <th>gender</th>
    <td><%= @member.gender %></td>
  </tr>

  <tr>
    <th>birthday</th>
    <td>
      <%= @member.birthday %>
      (
      <%= @member.birthday.try(:strftime, "%Y年%m月%d日") %>
      )
    </td>
  </tr>

  <tr>
    <th>email</th>
    <td><%= @member.email %></td>
  </tr>

  <tr>
    <th>administrator</th>
    <td><%= @member.administrator %></td>
  </tr>
</table>
